<ion-header>
  <ion-navbar [color]="isRecording ? 'danger' : 'primary' ">
    <ion-title>
      Voice Recognition App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>



  <ion-card>
      <ion-card-header>
        Requset
      </ion-card-header>

      <ion-card-content >
        {{question}}
      </ion-card-content>
    </ion-card>

      <ion-card>
      <ion-card-header>
        Response
      </ion-card-header>

      <ion-card-content >
        {{answer}}
      </ion-card-content>
    </ion-card>

    <div class="footer">


      <p *ngIf="isIos()"> {{i}} </p>
        <button ion-button [ngClass]="{  'initial': state ==='initial', 'listening': state === 'listening' }"  position="bottom"  (click)="startListening()" (keyup)="stopListening($event)">
          <ion-icon name="mic"></ion-icon>
        </button>

        <button ion-button position="bottom" class="pause" *ngIf="isIos()">
        <ion-icon name="ios-pause-outline" (click)="stopListening()" ></ion-icon>
        </button>


    </div>
</ion-content>
